@import "../../global.scss";

.projects {
  .phone {
    display: none;
  }

  h2 {
    font-size: 4rem;
    color: #00ffff;
    text-align: center;
    padding: 1rem 0;
  }

  .project {
    display: grid;
    align-items: center;
    gap: 1rem;
    padding: 4rem 0;
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(380px, 600px)) minmax(1rem, 1fr);

    animation: fadeIn ease 1s;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 1rem 2rem;

      .phone {
        display: block;
        color: #00ffff;
        padding: 1rem 0;
        font-size: 1.6rem;

        &.button {
          background-color: #9500ff;
          border: none;
          border-radius: 0.5rem;
          color: #00ffff;
          padding: 0.6rem;
          display: inline-block;
          font-size: 1rem;
          margin-top: 1.5rem;
          margin-left: 10px;
          cursor: pointer;

          &:hover {
            transition: 0.8s;
            background-color: #00ffff;
            color: #9500ff;
          }
        }
      }
    }

    img {
      width: 100%;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      filter: drop-shadow(0px 0px 20px #000000);
    }

    span {
      color: #00ffff;

      @include mobile {
        display: none;
      }

      h3 {
        font-size: 2.2rem;
        font-weight: 700;
      }

      p {
        font-size: 1.2rem;
        padding-left: 10px;
      }

      .button {
        background-color: #9500ff;
        border: none;
        border-radius: 0.5rem;
        color: #00ffff;
        padding: 0.6rem;
        display: inline-block;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-left: 10px;
        cursor: pointer;
        box-shadow: #000 0px 0px 25px 0px inset, #000 0px 0px 0px 1px inset;

        &:hover {
          transition: 0.8s;
          background-color: #00ffff;
          color: #9500ff;
        }
      }
    }

    .right {
      grid-column: 3 / 4;

      h3,
      .button {
        margin-left: clamp(4rem, 12vw, 16rem);
      }

      @include mobile {
        grid-column: 2 / 3;
      }
    }

    .left {
      grid-column: 2 / 3;

      h3,
      .button {
        margin-left: clamp(4rem, 12vw, 16rem);
      }
    }
  }
}
