body {
  background-color: #1e0033;
}

.space {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.stars {
  position: absolute;
  background-image: url("../star.webp");
  background-size: 100% 100%;
  opacity: 0;
  animation: twinkling 10s ease-in-out infinite;
}

.stars.sm {
  width: 3px;
  height: 3px;
}

.stars.md {
  width: 5px;
  height: 5px;
}

.stars.lg {
  width: 7px;
  height: 7px;
}

@keyframes twinkling {
  0% {
    opacity: .5;
  }

  25% {
    opacity: 1;
    transform: translate(-20%, -60%);
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: .2;
    transform: translate(20%, 60%);
  }
}