@import "../../global.scss";

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  animation: fadeIn ease 1s;

  h2 {
    font-size: 4rem;
    color: #00ffff;
    padding: 1rem 0;
  }

  .technologies,
  .tools {
    width: 60%;
    padding-bottom: 2rem;
    text-align: center;

    @include mobile {
      width: 95%;
    }
  }

  svg {
    font-size: clamp(3.7rem, 4vw, 6rem);
    /* border: 2px solid #9500ff; */
    padding: 2rem 2rem;
  }

  svg:hover {
    /* border: 2px solid #00ffff; */
    filter: drop-shadow(0px 0px 10px #00ffff);
    color: #00ffff;
    animation: rotate-center 2s cubic-bezier(0.175, 0.885, 0.32, 1.4);

    @keyframes rotate-center {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
